body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    /* Добавляем отступ сверху равный высоте шапки */
    padding-top: 60px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.section {
    /* Уменьшаем отступы для мобильных устройств */
    padding: 30px 0;
    text-align: center;
}

h2 {
    font-size: 1.8em; /* Уменьшаем размер заголовка для мобильных */
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-sizing: border-box;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    padding: 0 10px;
}

header .logo {
    font-size: 1%; /* Уменьшаем размер логотипа для мобильных */
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    
}


header .logo:hover {
    color: #f0ad4e;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

header .logo a {
    color: inherit;
    text-decoration: none;
    display: block;
}

header nav ul {
    align: right;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav li {
    margin-left: 14px; /* Уменьшаем отступы между пунктами меню */
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em; /* Уменьшаем размер шрифта меню */
}

/* Остальные стили остаются без изменений */
#about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#about .profile-image {
    margin: 0 0 20px 0;
    border: 2px solid black;
    max-width: 300px;
}

#about .about-text {
    text-align: left;
    width: 100%;
    padding: 0 15px;
}

.emoji-style {
    width: 24px;
    height: 16px;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    vertical-align: middle;
    margin-bottom: 2px;
    border: 1px solid black;
    object-fit: contain;
}

.level-style {
    width: 30px;
    height: 20.25px;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    vertical-align: middle;
    margin-bottom: 2px;
    border-radius: 5px;
    object-fit: contain;
    border: 1px solid black;
}

.mbti-style {
    width: 50px;
    height: 50px;
    object-fit: contain;
    vertical-align: middle;
    margin-bottom: 2px;
    border-radius: 5px;
}

#portfolio .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 100%;
}

.portfolio-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease;
}

.img-sphere {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 30px;
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

.portfolio-item img {
    margin-bottom: 10px;
    border-radius: 10px;
}

.portfolio-item h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#education .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#education .education-img {
    margin: 0 0 20px 0;
    border: 2px solid black;
    max-width: 120px;
}

#education .education-text {
    text-align: left;
    width: 100%;
    padding: 0 15px;
}

#contact .contact-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#contact .contact-list li {
    margin-bottom: 10px;
}

#contact .contact-list a {
    color: #333;
    text-decoration: none;
}

#contact .contact-list a:hover {
    color: #c36f09;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#industry-header {
    background-color: #e9ecef;
}

#industry-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#industry-header img {
    max-width: 100%;
    margin-top: 10px;
}

#rs_logo {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.skills_p {
    width: 90%;
    padding-top: 25px;
    padding-left: 5%;
    text-align: left;
}

.list-skills {
    width: 90%;
    padding-top: 25px;
    padding-left: 5%;
    text-align: left;
}

.list-skills li {
    display: block;
    margin-bottom: 10px;
}

.list-skills li::before {
    font-weight: bold;
    margin-right: 1px;
}

.list-skills li:nth-child(1)::before { content: "1."; }
.list-skills li:nth-child(2)::before { content: "2."; }
.list-skills li:nth-child(3)::before { content: "3."; }
.list-skills li:nth-child(4)::before { content: "4."; }
.list-skills li:nth-child(5)::before { content: "5."; }
.list-skills li:nth-child(6)::before { content: "6."; }
.list-skills li:nth-child(7)::before { content: "7."; }

.project_gis {
    border: 1px solid black;
    max-width: 100%;
    height: 500px;
    border-radius: 5px;
}

.project_security {
    border: 1px solid black;
    max-width: 100%;
    height: 1000px;
    border-radius: 5px;
}

#industry-description {
    padding: 30px 0;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    body {
        padding-top: 70px; /* Увеличиваем отступ для больших экранов */
    }
    
    .container {
        width: 80%;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    #about .container {
        flex-wrap: nowrap;
    }
    
    #about .profile-image {
        margin-right: 50px;
        margin-bottom: 0;
    }
    
    #about .about-text {
        width: auto;
        padding: 0;
    }
    
    #portfolio .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #education .container {
        flex-wrap: nowrap;
    }
    
    #education .education-img {
        margin-right: 50px;
        margin-bottom: 0;
    }
    
    #education .education-text {
        width: auto;
        padding: 0;
    }
    
    .list-skills li {
        display: inline-block;
        margin-right: 15px;
    }
    
    header .logo {
        font-size: 1.5em; /* Возвращаем стандартный размер логотипа */
    }
    
    header nav a {
        font-size: 0.9em; /* Возвращаем стандартный размер меню */
    }
}

@media (min-width: 992px) {
    #about .profile-image {
        margin-right: 100px;
    }
    
    #education .education-img {
        margin-right: 100px;
    }

}


